<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <p>Here are a few of our partner organizations:</p>
        <ul class="card-list">
            <% organizations.forEach(organization => { %>
                <li>
                    <img src="/images/<%= organization.logo_filename %>"
                    alt="<%= organization.name %> logo">
                    <div>
                        <strong>
                            <a href="/organization/<%= organization.id %>"><%= organization.name %></a>
                        </strong>:
                        <%= organization.contact_email %>
                    </div>
                </li>
            <% })%>
        </ul>
    </main>

<%- include('partials/footer') %>
